/.metadata/
/OperadoresAritmeticos/target/
/mavenproject1/target/
/SuperCalculadora/target/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
